/**
 * @file
 * CSS handle for Authorize.net Visa Checkout.
 */

.authnet-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .75;
  z-index: 9999999;
  color: #fff;
  text-align: center;
  font-size: 2em;
}
